#set($title = "申请紧急下款")

#extends("../../layouts/main.vm")

#block('head_meta')
<link rel="stylesheet" type="text/css" href="/static/styles/pages/info.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
<div class="main">
	<!-- #parse("../pages/info/_progress2.vm") -->
    <header class="headBox">
		<div class="circle">
			<div class="fill"></div>
			<div class="text">
				<p class="sub1">小贷鱼预计批复</p>
				<p class="content" id="availableQuota">0</p>
				<p class="sub2">1000元借1天利息仅为0.27元</p>
			</div>
		</div>
	</header>
    <div class="tipBox">
        <i class="icon-suona"></i>
        <div class="text">申请紧急下款，请补充个人信息</div>
    </div>
	<form action="" class="added-form" method="post">
        <div class="form-title-line">
            <label>常用联系人</label>
        </div>
		<div class="form-panel no-margin-top">
            <div class="panel-line js-form-group">
                <div class="select-label">
                    <div class="ui-select select-border-right">
                        <span class="js-text">
                          选择关系
                        </span>
                        <select name="emergencyContactType">
                            <option value="">选择关系</option>
							<option value="2">夫妻</option>
                            <option value="3">子女</option>
                            <option value="4">朋友</option>
                            <option value="5">同事</option>
                        </select>
                    </div>
                </div>
	            <div class="form-content">
                    <input type="text" name="emergencyContact" placeholder="输入联系人姓名" maxlength="20" value="$!emergencyContact">
	            </div>
			</div>
            <div class="panel-line js-form-group">
				<label class="control-label" for="">手机号码</label>
    	        <div class="form-content">
    	            <input type="tel" name="emergencyContactPhone" placeholder="输入手机号码" value="$!emergencyContactPhone" maxlength="11">
    	        </div>
			</div>
            <div class="panel-line js-form-group">
                <div class="select-label">
                    <div class="ui-select select-border-right">
                        <span class="js-text">
                          选择关系
                        </span>
                        <select name="secondContactType">
                            <option value="">选择关系</option>
							<option value="6">父亲</option>
							<option value="7">母亲</option>
							<option value="8">兄弟姐妹</option>
                        </select>
                    </div>
                </div>
	            <div class="form-content">
                    <input type="text" name="secondContact" placeholder="输入联系人姓名" maxlength="20" value="$!secondContact">
	            </div>
			</div>
            <div class="panel-line js-form-group border-bottom">
				<label class="control-label" for="">手机号码</label>
    	        <div class="form-content">
    	            <input type="tel" name="secondContactPhone" placeholder="输入手机号码" value="$!secondContactPhone" maxlength="11">
    	        </div>
			</div>
		</div>

		<div class="error-box js-error-box"></div>
		<div class="btn-wrap2">
			<button type="submit" class="btn-submit js-submit-button">提交</button>
		</div>
		<p class="form-tips2">如有疑问，请拨打客服电话：<a class="link" href="tel:4008881918">400-888-1918</a></p>
	</form>
</div>

<script type="text/javascript">
	function getValue(value) {
			if (value == 0) {
					return '';
			}
			return value;
	}
	var globalData = {
		"emergencyContactType":getValue("$!emergencyContactType"),
		"secondContactType":getValue("$!secondContactType")
	}
</script>
<script src="/static/scripts/libs/jquery-2.1.4.min.js"></script>
<script src="/static/scripts/pages/info/added.js"></script>
#end
#end
