<!-- 轮询 -->
<div class="dialog-layout gray js-timer-block " style="display:none;">

    <div class="img-content">
        <img class="image loading" src="/static/images/loading.gif">
        <div class="timer-text">
            <p class="status">授权结果查询中</p>
            <p class="timer js-timer-wrap">
                <span class="js-timer">180</span>S
            </p>
        </div>
    </div>

</div>
