<div id="agreement-dialog-day" class="agreement js-agreement hidden">
    <div class="agreement-title">
        <a href="#" class="agreement-btn-close js-agreement-back-button">关闭</a>
		借款服务合同
	</div>
	<div class="agreement-content contract">
		<h3>提示条款</h3>
		<p>欢迎您与深圳天道计然金融服务有限公司（以下简称“天道公司”）共同签署本《借款服务合同》并成为天道公司的客户！</p>
		<p>欢迎您与深圳天道计然金融服务有限公司（以下简称“天道公司”）共同签署本《借款服务合同》并成为天道公司的客户！</p>
		<p><span class="deep">【审慎阅读】</span>您在指定的运营平台中点击同意本合同之前，应当认真阅读本合同。<span class="deep underline">请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。</span>如您对合同有任何疑问，可向天道公司客服咨询。</p>
		<p><span class="deep">【签约动作】</span>当您在借款服务申请程序中填写申请信息、阅读并同意本合同且完成全部申请程序后，即表示您已充分阅读、理解并接受本合同的全部内容，并与天道公司达成一致，成为天道公司的客户。<span class="deep underline">阅读本合同的过程中，如果您不同意本合同或其中任何条款约定，您应立即停止申请程序。</span></p>
		<h2>第一部分 专用条款</h2>
		<p class="symmetry">
			<span>借款服务类型：信用借款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>合同编号：</span>
		</p>
		<table>
			<tr>
				<th>借款人姓名：</th>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<th>身份证号：</th>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<th>居住地址：</th>
				<td></td>
				<th>联系电话：</th>
				<td></td>
			</tr>
			<tr>
				<th>产品系列代码：</th>
				<td></td>
				<th>产品代码：</th>
				<td></td>
			</tr>
			<tr>
				<th>借款金额：</th>
				<td></td>
				<td>分期期数：</td>
				<td></td>
			</tr>
			<tr>
				<th>年化借款利率：</th>
				<td></td>
				<td>信息技术服务费：</td>
				<td></td>
			</tr>
			<tr>
				<th>年化客户服务费率：</th>
				<td></td>
				<td></td>
				<td></td>
			</tr>
    </table>
    <table>
			<tr>
				<th>还款方式：</th>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<th>还款日：</th>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<th>到期还款金额：</th>
				<td></td>
				<th>借款用途：</th>
				<td></td>
			</tr>
			<tr>
				<th>还款账户：</th>
				<td colspan="3">
					账户名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行名称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>银行账号：
				</td>
			</tr>
			<tr>
				<td colspan="4">借款人指定以上银行账户作为本合同借款的收款账户和还款账户。借款人应在约定的还款日的至少前一日在还款账户中存入足够的金额并保证还款账户处于正常的可以划扣的状态。借款人同意且授权出借人、天道公司、天道公司合作的网络借贷信息中介机构、或天道公司合作方委托的第三方从上述账户进行扣款。还款时，借款人也可以通过指定渠道进行主动还款。</td>
			</tr>
		</table>
		<p>（1）借款人承诺本合同专用条款的全部信息真实、准确。</p>
		<p>（2）借款人已阅读并理解本合同的通用条款并自愿遵守合同的规定。</p>
		<p>（3）本合同由两部分组成，第一部分为“专用条款”，第二部分为“通用条款”，二部分内容均作为本合同不可分割的组成部分。</p>
		<p>
			<span>借款人（签名）：_______________</span><br/>
			<span>日期：_________年_____月_____日 </span>
		</p>
		<p>
			<span> 天道公司（盖章）：</span><span class="underline">深圳天道计然金融服务有限公司</span><br/>
			<span>日期：_________年_____月_____日 </span>
		</p>

		<h2>第二部分  通用条款</h2>
		<h3>鉴于：</h3>
		<p>1. 深圳天道计然金融服务有限公司（以下简称“天道公司”）是一家依法成立的从事消费金融信息咨询服务的公司，为借款人提供借款信息服务。</p>
		<p>2. 借款人拟通过天道公司申请一笔“专用条款”中所列明的借款，天道公司或天道公司委托网络借贷信息中介服务方（下称“网贷平台”）为借款人寻找合适的出借人，并为借款人提供借款信息服务。天道公司、借款人现就借款相关的服务事宜共同达成以下条款：</p>

		<h3>第一条  名词解释</h3>
		<p>1.1 借款人：是指“专用条款”中列明的、通过天道公司申请借款的自然人。</p>
		<p>1.2 出借人：是指经天道公司或网贷平台撮合，向借款人提供借款的、具有完全民事行为能力的自然人、法人或其他机构，包括但不限于商业银行、消费金融公司、小额贷款公司、信托公司、网络借贷信息中介机构上的投资人、自然人、法人等。</p>
		<p>1.3 <span class="deep underline">借款金额：借款人通过天道公司向出借人借取的金额，以“专用条款”所列为准。</span></p>
        <p>1.4 <span class="deep underline">借款期限：是指借款人的借款期限，以“专用条款”所列为准。</span></p>
		<p>1.5<span class="deep underline">借款利率：是指借款人应支付给出借人的借款利息对应的利率与天道公司合作方收取的服务费率（如有）之和，自借款发放成功之日起开始计算并于借款发放之日一次性支付给天道公司，由天道公司代出借人收取，借款利息按照等额本息方式计算。</span></p>
        <p>1.6 <span class="deep underline">信息技术服务费：天道公司对借款人进行信息搜集、资信评估、信息交互核验及为借款提供的技术服务所收取的费用，借款人应不迟于借款发放当日向天道公司支付信息技术服务费。</span></p>
        <p>1.7 <span class="deep underline">客户服务费：天道公司为借款人持续提供分期咨询、信息查询、资料保管和调阅等咨询服务所收取的费用，客户服务费计算方式为：客户服务费=年化客户服务费率/360天*借款天数，借款人应于还款日将客户服务费一次性支付给天道公司。</span></p>
        <p>1.8 <span class="deep underline">还款日：借款人应归还专用条款所列到期还款金额的日期（实际还款日以服务平台显示为准）。</span></p>
        <p>1.9 <span class="deep underline">到期还款金额：借款到期借款人应偿还的金额，以“专用条款”中列明的“到期还款金额”为准。</span></p>
        <p>1.10 <span class="">取现额度：天道公司根据借款人的综合情况给予借款人可提现的借款额度。</span></p>
        <p>1.11 <span class="deep underline">取现额度有效期：指在取现额度内，借款人可向出借人申请借款的时效期限。借款人额度有效期以天道公司实际规则为准。</span></p>
        <p>1.12 可用额度：是指当前借款人可提现的借款额度，具体可用额度以服务平台显示为准。</p>
        <p>1.13 取钱申请：借款人向天道公司发起取钱申请，逐笔申请取现额度。天道公司有权根据借款人的风险状况或经营情况调整借款人的取钱限额（包括但不限于当日可发放总规模限额、单笔限额、每日限额和每月限额）及取钱笔数。</p>
        <p>1.14 <span class="deep underline">本合同：是指本《借款服务合同》，具体由两部分组成：第一部分为“专用条款”，第二部分为“通用条款”，二部分内容均作为本合同不可分割的组成部分。</span></p>

		<h3>第二条  借款申请内容</h3>
		<p>2.1 本合同项下的借款金额、借款期限、借款利率、客户服务费率、信息技术服务费以专用条款约定为准。</p>
		<p>2.2 <span class="deep underline">【先息后本还款方式下借款的发放】 借款人同意并授权出借人、网络借贷信息中介机构将借款金额划付至天道公司或天道计然（北京）信息科技有限责任公司的账户，并由天道公司或天道计然（北京）信息科技有限责任公司及其合作的第三方将借款金额中与“借款利息”、“信息技术服务费”、“客户服务费”等额的款项支付至天道公司，用于向天道公司支付“信息技术服务费”、“客户服务费”及由天道公司代为借款人向出借人支付“借款利息”，将借款金额中剩余部分款项支付至借款人指定的账户，借款人收到借款金额中的剩余部分款项即视为借款发放成功。如出借人直接将借款金额支付给借款人指定账户的，则借款人委托出借人、网络借贷信息中介机构将借款金额中与“借款利息”、“信息技术服务费”、“客户服务费”等额的款项支付至天道公司，用于向天道公司支付“信息技术服务费”、“客户服务费”及由天道公司代为借款人向出借人支付“借款利息”，借款人收到借款金额中的剩余部分款项即视为借款发放成功。如出借人直接将全部借款金额支付至借款人名下账户的，借款人收到借款金额即视为借款发放成功，且借款人同意并授权天道公司、天道计然（北京）信息科技有限责任公司或/及第三方在借款发放成功当日从借款人还款账户中划扣与“信息技术服务费”、“借款利息”、“客户服务费”等额的款项，用于向天道公司支付“信息技术服务费”、“客户服务费”及由天道公司代为借款人向出借人支付“借款利息”。</span></p>
		<p>2.3 <span class="deep underline">【到期还本付息还款方式下借款的发放】 借款人同意并授权出借人、网络借贷信息中介机构将借款金额划付至天道公司或天道计然（北京）信息科技有限责任公司的账户，并由天道公司或天道计然（北京）信息科技有限责任公司及其合作的第三方将借款金额中与“信息技术服务费”等额的款项支付至天道公司，用于向天道公司支付“信息技术服务费”，将借款金额中剩余部分款项支付至借款人指定的账户，借款人收到借款金额中的剩余部分款项即视为借款发放成功。如出借人直接将借款金额支付给借款人指定账户的，则借款人委托出借人、网络借贷信息中介机构将借款金额中与“信息技术服务费”等额的款项支付至天道公司，用于向天道公司支付“信息技术服务费”，借款人收到借款金额中的剩余部分款项即视为借款发放成功。如出借人直接将全部借款金额支付至借款人名下账户的，借款人收到借款金额即视为借款发放成功，且借款人同意并授权天道公司、天道计然（北京）信息科技有限责任公司或/及第三方在借款发放成功当日从借款人还款账户中划扣与“信息技术服务费”等额的款项，用于向天道公司支付“信息技术服务费”。借款利息及客户服务费由借款人于借款到期日一次性支付给天道公司，并由天道公司将借款利息代为支付给出借人。</span></p>
		<p>2.4 天道公司有权根据借款人提供的各项信息及天道公司独立获得的信息对借款人的信用进行评估，自主决定是否审核通过并将借款人的借款需求向出借人或网络借贷信息中介机构进行推荐。即便各方已签订本合同，并不视为天道公司对借款成功的任何保证。</p>

		<h3>第三条  借款服务</h3>
		<p>3.1 一般借款服务：（1）借款服务咨询；（2）咨询、销售及服务点维护（如有）；（3）借款人资格审核及推荐；（4）个人信息以及联系/通讯信息更改管理；（5）借款人借款付清证明文件服务；（6）借款人还款信息查询服务；（7）还款结算与错误还款后续跟进服务；（8）溢缴款处理等。</p>

		<h3>第四条  借款偿还</h3>
        <p class="">4.1 <span class="deep underline">还款途径：</span></p>
        <p class="text-indent">4.1.1 <span class="">借款人应通过银行卡划扣、指定对公账户还款。</span></p>
        <p class="text-indent">4.1.2 <span class="deep underline ">如借款人选择银行卡代扣途径还款的，借款人应在还款日前一日将“专用条款”所列明的款项足额存入本合同约定的还款账户（以下简称“还款账户”），并不可撤销地同意并授权出借人、天道公司、网络借贷信息中介服务机构及天道公司合作方通过第三方支付机构从还款账户中划扣到期还款金额及所有本合同项下到期应付的其他款项而无需进一步通知借款人或者得到借款人同意。因第三方支付机构只能对借记卡进行代扣，故借款人应确保其还款银行卡为借记卡而非准贷记卡、贷记卡、信用卡，否则将视为借款人违约。</span></p>
		<p class="text-indent">4.1.3 如借款人同时选择指定对公账户途径还款（以下简称“自主还款”）的，借款人应于还款日前足额将款项偿还至天道公司指定账户，无论何种原因导致还款失败，借款人在本合同项下的还款义务不得因此而减免，借款人仍应采取出借人、天道公司认可的方式继续还款。<span class="deep underline">为避免重复扣款，自主还款日期应早于还款到期日。如出现重复扣款，天道公司将作为溢缴款予以处理。</span></p>
        <p class="text-indent">4.1.4 <span class="deep underline ">出借人、天道公司未授权任何员工或渠道商、合作商户、催收公司、催收人员等第三方代为收取借款人的还款，也从未许可前述人员向借款人收取本合同约定之外的其它任何费用，如借款人未经出借人、天道公司书面同意将应还款项交由前述人员，借款人的还款义务并未因此免除，出借人、天道公司仍有权要求借款人继续履行相应的还款义务。</span></p>
        <p class="text-indent">4.1.5 若借款人在签订本合同时仍有其他未还清的借款，且该借款合同的服务公司为天道公司，则借款人可以通过天道公司指定的服务渠道变更还款支付方式或银行账户，该项变更将自动适用于本合同项下借款及本条所述未还清的借款。<span class="deep underline">为保证按时履行还款义务。借款人在此同意并授权出借人、天道公司或天道公司合作方有权从借款人提供的其他同名银行卡上进行代扣。</span></p>

        <p class="">4.2 <span class="deep underline">正常还款：</span></p>
        <p class="text-indent">4.2.1 <span class="deep underline ">借款人应按照“专用条款”约定偿还借款金额、利息及客户服务费，信息技术服务费在借款发放时由借款人一次性支付给天道公司。</span></p>
        <p class="text-indent">4.2.2 <span class="deep underline ">还款日、到期还款金额及还款方式以“专用条款”的记载为准。</span></p>
        <p class="text-indent">4.2.3 借款人同意天道公司有权从授权代管、代收或代付的款项中，直接扣除本合同项下信息技术服务费及其他费用（如有）。此外，借款人因签订本合同所应承担的印花税（如有）包含在还款金额内，由天道公司代扣代缴。</p>
		<p class="text-indent">4.2.4 <span class="deep underline ">借款偿还顺序：到达指定还款账户的款项，按照如下顺序清偿各项债务（包括借款人通过天道公司申请的其他借款）：先到期的债务先偿还；申请提前还款的合同先偿还；多笔个人借款的期款同时到期，期款金额小的先偿还，期款金额大的后偿还；如期款金额一致，则先签署的借款服务合同所对应的借款先偿还；本合同按照以下顺序依次清偿：（1）信息技术服务费（如有）；（2）逾期利息（如有）；（3）客户服务违约金（如有）；（4）罚息（如有）；（5）利息；（6）印花税（如有）；（7）客户服务费（如有）；（8）借款金额。</span></p>
        <p class="text-indent">4.2.5 借款人应妥善保管本合同项下已还款项的付款证明。因借款人的还款引起争议的，由借款人对其还款情况承担举证责任。</p>

        <p class="">4.3 <span class="deep underline">提前还款：</span></p>
        <p class="deep underline text-indent">本合同原则上不允许提前还款，借款人须按照本合同约定足额偿还借款直至合同结清。如借款人因客观原因确需提前还款的，应向天道公司申请，经天道公司同意后方可提前还款。借款人应偿还到期应还金额、印花税（如有）和本合同项下约定的其他费用。</p>

		<p class="">4.4 <span class="deep underline">逾期还款：</span></p>
        <p class="text-indent">4.4.1 <span class="deep underline ">【适用于借款期限为7天/14天情形】 如果借款人未履行本合同项下的还款义务，借款人每逾期一日需向出借人支付逾期还款金额的0.04%的罚息，罚息金额按照逾期天数计算。</span></p>
        <p class="text-indent">4.4.2 <span class="deep underline ">【适用于借款期限为30天情形】 如果借款人未履行本合同项下的还款义务，其应立即偿还拖欠款项并应当按照本条规定支付逾期利息和客户服务违约金。借款人每逾期一日须向出借人支付剩余未还借款金额的0.05%的逾期利息，并向天道公司支付剩余未还借款金额的0.95%的客户服务违约金。逾期利息及客户服务违约金按照逾期天数计算。</span></p>
        <p class="text-indent">4.4.3 <span class="deep underline ">如果借款人未按时履行本合同及借款合同项下的还款义务，借款人不可撤销的同意天道公司或天道公司委托的第三方可为其代为偿还相应债务。天道公司或天道公司委托的第三方代偿后，天道公司有权向借款人追偿代偿的款项，并有权按照年化24%的标准向借款人主张代偿款项占用期间的利息损失，直至借款人向天道公司清偿全部代偿债务。</span></p>

		<p>4.5 <span class="deep underline">强制结清：</span></p>
        <p class="text-indent">4.5.1 <span class="deep underline ">以下任何事件发生，天道公司有权对本合同进行强制结清，出借人授权天道公司可要求借款人一次性偿还本合同还款计划中的全部款项。（1）借款人违反本合同任何约定；（2）借款人在其与天道公司或出借人或其他出借方签署的任何其他借款合同项下发生重大违约；（3）天道公司有合理证据怀疑借款人存在任何欺诈行为；（4）借款人逾期归还任何一期款项；（5）借款人有逃避、故意转移资金、信用状况恶化等危及本合同及借款合同债权的情形的；（6）借款人所做声明不真实或违反本合同项下的承诺；（7）借款人以欺诈或其它非法手段获得本合同项下的借款或者借款的目的是为了套现；(8)借款人未按本合同约定的借款用途使用借款的（包括但不限于借款人将本合同项下的借款挪作他用，或/及借款人未按照本合同约定向天道公司支付“信息技术服务费”、“借款利息”、“客户服务费”或/及天道公司、天道公司委托的任何第三方未能按照本合同约定在借款人指定的还款账户按时足额代扣与“信息技术服务费”、“借款利息”、“客户服务费”等额的款项）；(9)若按照天道公司的合理判断，借款人发生可能对天道公司的权利或利益造成负面影响的任何其他情形。</span></p>
        <p class="text-indent">4.5.2 <span class="deep underline ">如果上述情形发生在出借人发放借款之前，天道公司可以解除本合同，并且出借人无需发放借款或者承担任何其他责任。</span></p>
        <p class="text-indent">4.5.3 <span class="deep underline ">天道公司进行强制结清后有权继续收取逾期利息和客户服务违约金。</span></p>
        <p class="text-indent">4.5.4 <span class="deep underline ">若借款人尚有其他通过天道公司申请的未还清的个人借款，则其他借款服务合同的强制结清也将导致本合同的强制结清。如发生多个借款服务合同同时被强制结清的，到达指定还款账户的款项，则优先偿还最早逾期的借款服务合同款项；如多合同逾期天数相同的，则优先偿还合同激活日期最早的借款服务合同款项。</span></p>

		<p>4.6 <span class="deep underline">代为还款：</span></p>
        <p class="text-indent"><span class="deep underline ">任何第三方（包括但不限于借款人配偶、父母、子女、其他亲属、同事、朋友等）以其个人/公司名义或以借款人代理人名义同意代为提前结清或结清借款人在本合同项下全部债务或代为借款人履行本合同项下义务的，借款人同意并确认，无论天道公司是否能够及时通过本合同所记载的借款人联系电话或联系地址联系到借款人予以确认、核实，天道公司有理由认为借款人已授权该第三人处理相关事宜，天道公司有权将该第三人作为享有有效代理权的借款人代理人并接受该第三人代为借款人处理相关事宜。如由此导致借款人产生任何损失的，均由借款人自行承担全部，或自行向该第三人追索，与天道公司无关。</span></p>

		<h3>第五条  电子签名</h3>
		<p>5.1 <span class="deep underline">各方一致同意，以电子签名方式签署与借款相关的全部文件（包括但不限于本合同、《借款合同》等），借款人授权天道公司、商业银行或网络借贷信息中介机构向CA机构为借款人申请数字证书，并授权天道公司、商业银行或网络借贷信息中介机构使用借款人的数字证书签署与借款相关的全部文件，电子签名与在纸质合同上手写签名或盖章具有同等法律效力。</span></p>
		<p>5.2 <span class="">如天道公司要求，则与借款相关的全部文件的签署仍应由各方当事人在纸质合同上合法签署（自然人签字、法人机构由法定代表人或有权签字人签字或加盖公章或合同专用章）。</span></p>
		<p>5.3 <span class="deep underline">身份认证要素是各方一致同意在天道公司服务电子服务渠道中使用以确定借款人身份的要素，如客户编号（用户名、身份证号等）、密码、电子证书、动态密码、短信验证码、合同签订时留存的电话号码、客户银行卡号、客户银行预留电话、电子邮箱地址等。借款人不可撤销地同意，使用其身份认证要素所完成的一切交易操作均视为其本人所为，不管实际上的使用方是否另有其人；借款人同意对由此产生的后果以及对使用其身份认证要素所产生的损害、义务和款项负责。</span></p>
		<p>5.4 <span class="">借款人必须妥善保管其身份认证要素，不得将身份认证要素提供给任何第三方。如借款人的身份认证要素发生遗失、被盗、遗忘或怀疑已被他人知悉、盗用等情形，借款人有义务立即通知天道公司并按照天道公司告知的方法对其进行修改。借款人同意承担未及时履行前述义务而产生的所有损失和责任。</span></p>
		<p>5.5 <span class="deep underline">借款人应尽到合理注意义务，在安全的环境中使用天道公司提供的电子服务渠道。</span></p>

		<h3>第六条  各方的权利和义务</h3>
        <p>6.1 <span class="deep underline">天道公司的权利和义务</span></p>
		<p class="text-indent">6.1.1 <span class="">天道公司应为借款人提供信用审核、推荐、借款服务咨询等借款相关的服务，协助借款人及出借人办理借款相关手续。</span></p>
        <p class="text-indent">6.1.2 <span class="">天道公司有权向借款人收取信息技术服务费等本合同及《借款合同》项下借款人应还款项。</span></p>
        <p class="text-indent">6.1.3 <span class="deep underline">如借款人未按本合同及《借款合同》约定足额支付任何一期应还款项，出借人或天道公司有权自行或委托其他第三方采取催收措施。催收费用由借款人承担，金额以实际发生为准。</span></p>
        <p class="text-indent">6.1.4 <span class="deep underline">借款人同意将其通信记录中的常用联系人作为紧急联系人，且借款人保证已获得了其通信记录中常用联系人的同意。如出现借款人无法联系或违反本合同约定的情形，天道公司可联系借款人的紧急联系人了解借款人的相关情况并将借款人逾期还款等信息告知其紧急联系人。</span></p>
        <p class="text-indent">6.1.5 <span class="deep underline">天道公司有权随时对借款人进行贷后检查，借款人应按天道公司要求提供资料并无条件配合天道公司的检查工作。</span></p>
        <p class="text-indent">6.1.6 <span class="">为避免接收通知的不便，借款人在此不可撤销地同意，天道公司可自主决定将其在本合同项下的权利和义务全部或部分转让给任何第三方而无需另行通知借款人或征得借款人的同意。</span></p>
        <p class="text-indent">6.1.7 <span class="">出借人有权委托天道公司将本合同项下的全部或部分债权转让给第三方，天道公司在进行债权转让时，有权将债权信息以及借款人的个人信息进行公开披露，以寻找合适的债权受让人。出借人根据《借款合同》转让债权的，借款人的还款金额和还款方式不变。借款人在此不可撤销地同意，出借人和天道公司在进行债权转让时无须通知借款人或征得借款人的同意。</span></p>

		<p>6.2 <span class="deep underline">借款人的权利和义务</span></p>
        <p class="text-indent">6.2.1 <span class="">借款人在申请及实现借款的全过程中，必须如实向天道公司提供所要求提供的个人信息，并保证该等信息真实、准确、完整、合法有效。</span></p>
        <p class="text-indent">6.2.2 <span class="">借款人有权向天道公司了解其在天道公司的信用评审进度及结果，以及借款相关手续的办理进度。</span></p>
        <p class="text-indent">6.2.3 <span class="deep underline">借款人应按照本合同及《借款合同》的规定向天道公司支付信息技术服务费、借款本息等应付款项。</span></p>
        <p class="text-indent">6.2.4 <span class="">借款人同意，借款人成功借款后，天道公司依据出借人的委托开展还款管理工作，督促借款人按照约定期限及金额进行还款，借款人有义务无条件及时配合天道公司工作。</span></p>
        <p class="text-indent">6.2.5 <span class="deep underline">借款申请过程中及借款存续期间，如借款人提交的证件或资料等即将到期或失效，借款人应在到期或失效前向天道公司提交新的有效证件或资料，否则，视为借款人违约。</span></p>
        <p class="text-indent">6.2.6 <span class="">未经出借人、天道公司书面同意，借款人不得将本合同项下任何权利、义务转让予第三人。借款人不得将以本合同项下借款所购买的商品或/及服务全部或部分转让予第三人。</span></p>

		<h3>第七条  违约责任</h3>
		<p>7.1 <span class="">双方均应严格履行本合同项下义务, 一方不履行其在本合同项下义务或不符合约定的,守约方有权要求违约方按照法律规定及本合同的约定承担继续履行、采取补救措施、支付违约金或者赔偿损失等违约责任 。</span></p>
		<p>7.2 如借款人违反本合同任何约定的，借款人已支付的信息技术服务费等天道公司将不予退还，且借款人仍需要按照本合同约定向天道公司支付逾期利息和客户服务违约金。</p>
		<p>7.3 <span class="deep underline">天道公司依据法律法规规定在必要的情况下有权将借款人逾期还款情况及个人信息向第三方披露，由此产生的借款人不良信用记录或不利影响及后果由借款人自行承担。</span></p>
		<p>7.4 若借款人通过天道公司申请的借款或其他借款出现任何逾期情况，天道公司将对借款人的取现额度进行冻结，借款人无法继续使用；若借款人对已发生逾期的账单进行了及时清偿，天道公司将酌情为用户解除信用额度的冻结，用户可以恢复使用本服务。</p>
		<p>7.5 <span class="deep underline">借款人应按照本合同约定的借款用途及时限使用借款，如借款人将本合同项下的借款挪作他用，或/及借款人未向天道公司支付“信息技术服务费”、“借款利息”、“客户服务费”或/及天道公司、天道公司委托的任何第三方未能按照本合同约定在借款人指定的还款账户按时足额代扣“信息技术服务费”、“借款利息”、“客户服务费”的，天道公司有理由认为借款人存在恶意套现或者失信行为，天道公司有权视为借款人根本违约，宣布借款人的借款立即全部到期对借款人进行强制结清，并要求借款人立即偿还本合同项下及《借款合同》项下所有未偿还债务款项。</span></p>
		<p>7.6 <span class="deep underline">天道公司发现借款人出现其他任何失信行为的，天道公司有权视情节采取一下措施：取消取现额度、解除合同、强制结清、将借款人列入黑名单、将借款人失信信息报送个人征信机构等。本通用条款另有约定的从其约定。</span></p>

		<h3>第八条  陈述与保证</h3>
		<p>8.1 <span class="deep underline">借款人具备签订和履行本合同所需的完全民事权利能力和完全民事行为能力，签署和履行本合同系基于借款人的真实意思表示。</span></p>
		<p>8.2 <span class="deep underline"> 借款人为办理个人借款所提供的所有信息、全部文件、凭证及其他资料是完整、真实、准确和有效的且不存在任何误导。借款人未隐瞒可能影响其信用状况或履约能力的事件，如涉及借款人的诉讼、仲裁、行政程序等，无论以任何形式，也无论是否正在进行或者有潜在可能性，给天道公司造成任何损失的，均应由借款人足额赔偿。</span></p>
		<p>8.3 <span class="deep underline"> 本借款用途仅限于借款人日常消费，不得用于恐怖融资、股票投资、场外配资、期货合约、结构化产品、其他衍生品等高风险的融资；如出借人为网络借贷信息中介机构的投资人，借款人在网络借贷信息中介机构的借款余额未超过《网络借贷信息中介机构业务活动管理暂行办法》规定的上限（在网络借贷信息中介机构的借款余额上限不超过人民币20万元，在不同网络借贷信息中介机构平台的借款总余额不超过人民币100万元），否则借款人承担因此造成的全部责任。</span></p>
        <p>8.4 <span class="deep underline"> 借款人应按照天道公司的要求，随时提供其将借款用于本合同项下借款用途的全部文件和凭证（包括但不限于消费发票、银行转账记录等）。</span></p>
        <p>8.5 <span class="deep underline"> 借款人同意接受天道公司的信贷检查与监督，并积极予以协助和配合，如借款人信息发生任何变化、借款人个人资产或者财务状况发生重大变化、或者发生了可能影响借款人履行本合同项下义务的任何其他情况时，借款人均应在情况发生之日起五日内通知天道公司。</span></p>
        <p>8.6 <span class="deep underline"> 如果借款人身份认证要素泄露，借款人应就身份核实主动配合天道公司。如有必要，借款人应提供额外的文件和信息，或者在天道公司的要求下到现场配合。</span></p>
        <p>8.7 <span class="deep underline"> 如果借款人违约，借款人不可撤销地同意天道公司、天道公司合作方、天道公司授权方就该违约事件通过当面拜访、电话、邮寄、网络等合法形式提醒借款人或者督促借款人对违约行为进行改正，并且同意天道公司向天道公司合作方、天道公司授权方披露此违约事件。</span></p>
        <p>8.8 <span class="deep underline"> 本合同产生的法律关系与借款人跟商家之间的买卖合同/服务合同关系是完全独立的（如借款人将借款金额用于购买商品或服务）。该买卖合同/服务合同关系的无效或变更并不影响本合同的法律效力。借款人不得以与商家之间的任何纠纷（包括但不限于涉及商品质量、服务质量、服务内容、服务提供时间及售后服务等）为由拒绝履行本合同项下的任何义务。</span></p>
        <p>8.9 <span class="deep underline"> 未经天道公司书面同意，借款人不得避开天道公司直接或间接的向出借人偿还借款金额、利息及支付逾期利息。</span></p>
        <p>8.10 <span class="deep underline"> 借款人承诺借款目的是真实地用于个人消费，不存在洗钱、非法集资或其他不正当交易行为，否则应依法承担法律责任。</span></p>

		<h3>第九条  信息保护和披露</h3>
		<p>9.1 各方在此确认，为保护出借人/借款人隐私而对出借人/借款人真实身份在本合同项下的隐藏/部分隐藏，并不对出借人和借款人真实意思的表示、本合同的有效性产生任何影响，各方也不得以此为由拒绝履行本合同。</p>
		<p>9.2 <span class="deep underline">各方保证，对讨论、签订、履行本合同及《借款合同》过程中所获悉的属于其他方的且无法自公开渠道获得的文件和资料信息（包括但不限于合同信息、客户个人隐私、收费费率、商业计划、运营资金、财务信息、交易信息等）予以保密，否则，应承担相应的违约责任并赔偿由此造成的全部损失。但借款人同意并授权天道公司可以根据业务需要向其业务合作伙伴（包括但不限于专业顾问、评级机构、保险承保、合作金融机构；为天道公司提供系统支持、借款催收等服务，承诺对有关资料或信息保密的外包服务机构；天道公司相关业务的受让人和潜在受让人）、及天道公司的分公司、子公司、分支机构及关联公司、董事、管理人员、员工等相关工作人员披露前述文件和资料信息。且该保密条款在本合同终止后继续有效（政府部门、司法部门、自律性行业协会、存管银行、数据统计部门要求天道公司公开或提供的必要信息及借款人授权天道公司披露的信息除外）。</span></p>
		<p>9.3 <span class="deep underline">借款人理解并同意天道公司将部分与个人借款业务有关的服务外包给其他业务合作伙伴，并为此目的将借款人相关个人信息、与本合同相关的信息提供给该业务合作伙伴及该业务合作伙伴的关联公司，且该业务合作伙伴享有天道公司在本合同项下的权利和授权。</span></p>

		<h3>第十条  免责条款</h3>
		<p>10.1 <span class="deep underline">天道公司出现下列任一状况而无法正常运作，致使无法向借款人提供本通用条款及合同项下的各项服务，天道公司不承担任何违约或赔偿责任，该状况包括但不限于：（1）在服务平台维护期间;（2）电信设备出现故障不能进行数据传输的；（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的；（4）由于黑客攻击、电信部门和其他天道公司有信息技术依赖的相关部门、企业事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</span></p>
		<p>10.2 <span class="deep underline">本通用条款有效期内，因国家相关主管部门颁布、变更的法令、政策导致天道公司不能提供约定服务的，不视为其违约，本合同各方可根据相关的法令、变更条款内容或提前终止本通用条款，在此情况下，借款人已经享受服务而尚未到期或偿还的任何款项，视为立即到期，借款人应立即归还，否则天道公司仍有权按照本通用条款的约定采取合理的措施。</span></p>
		<p>10.3 <span class="deep underline">天道公司有权根据风险及自身业务运营情况需要中止（终止）向借款人提供服务，因此导致借款人无法使用服务或服务受到限制的，不视为天道公司违约，在此情况下，借款人已经使用服务而尚未到期或偿还的任何款项，视为立即到期，借款人应立即归还。</span></p>

		<h3>第十一条  合同变更</h3>
		<p>11.1 <span class="deep underline">天道公司有权随时单方面修改本通用条款中与借款人之间相关的权利义务，但相关条款调整不加重借款人在借款金额和息费方面的责任，变更后的条款将在天道公司服务平台上公示，如借款人继续使用服务即被视为借款人已接受了修改后的条款内容;若借款人不同意修改本通用条款,则应当立即停止使用服务并全额支付本通用条款、专用条款下全部应付款项， 否则视为借款人同意并接受修改后的条款。</span></p>
		<p>11.2 天道公司可不时地向借款人提供关于本合同履行的优惠条款。与本合同的约定相比，该优惠条款将对借款人更有利。借款人可以通过合理的方式或方法对签署的优惠条款进行确认，经借款人确认后，该优惠条款即生效，作为对本合同的变更。</p>

		<h3>第十二条  通知与送达</h3>
		<p>12.1 <span class="deep underline">天道公司、仲裁委员会、司法机关按照借款人在申请借款过程中及本合同中预留的联系地址、邮箱、手机号码或其他通信方式（或者借款人另行书面或通过天道公司期服务热线通知天道公司变更的地址或通信方式）发出与本合同有关的通知、法律文书、司法文书等文件。</span></p>
		<p>12.2 <span class="deep underline">各方确认以本合同中预留的联络邮箱，作为各方之间往来及涉仲裁时仲裁机构送达相关材料的送达地址；并以预留的手机号码，为短信通知号码。本合同任何一方向对方及仲裁机构向双方发出的任何通知，以电子邮件或者短信等形式发出，送至约定邮箱或者手机号码，即视为送达。如一方需变更联络邮箱或者手机号码的，应当与对方协商一致，并提交平台确认。</span></p>

		<h3>第十三条  争议解决</h3>
		<p>13.1 <span class="deep underline">因本合同引起的或与本合同有关的争议，双方均同意提请中国广州仲裁委员会,按照申请仲裁时该会现行有效的网络仲裁规则进行网络仲裁并进行书面审理。仲裁裁决是终局的，对双方均有约束力。借款人应承担为解决本争议所产生的所有费用，包括但不限于诉讼费、仲裁费、律师费、公证费、鉴定费、交通费等。</span></p>
		<p>13.2 若争议正在解决过程之中，合同各方应继续履行其在本合同项下的所有义务。</p>

		<h3>第十四条  其他约定</h3>
		<p>14.1 <span class="deep underline">如果天道公司发现了因系统故障或其他原因导致的资金处理错误，无论有利借款人还是有利于天道公司，天道公司都有权在通知借款人后纠正该错误。如果该错误导致借款人实际收到的金额少于借款人应获得的金额，则天道公司在确认该处理错误后会尽快将借款人应收金额与实收金额之间的差额存入借款人的账户。如果该错误导致借款人实际收到的金额多于借款人应获得的金额，则无论错误的性质和原因为何，借款人理解、同意并充分配合天道公司按照包括但不限于（1）通知借款人按照指定方式返还不当得利；（2）天道公司或与天道公司合作的第三方支付机构从借款人银行账户扣划不当得利款项；（3）要求借款人采取其他合理操作措施等方式纠正相关错误。借款人理解并同意，借款人因前述处理错误而多付或少付的款项均不计利息，借款人不承担因前述处理错误而导致的任何损失或责任（借款人可能因前述错误导致的利息、汇率等损失），但因借款人恶意行为而导致的处理错误除外。</span></p>
		<p>14.2 如本合同任何条款之一被司法机关或者其他有权部门认定为无效，该条款将不影响其余条款的有效性。</p>
        <p>14.3 <span class="deep underline">天道公司在回访环节评定出借款人潜在风险较高，天道公司有权要求借款人提前还款或强制结清。</span></p>
        <p>14.4 <span class="deep underline">如本合同中有关借款的内容与借款合同中有任何不一致之处，天道公司有权决定其优先适用顺序。</span></p>
        <p>14.5 <span class="">各方一致同意，本合同自借款人点击确认之日起生效；本合同的表现形式为电子合同，为各方真实意思表示，对各方均具有法律约束力。</span></p>
        <p>14.6 <span class="deep underline">借款人确认已经认真阅读并完全理解本合同中的各项条款，且天道公司已就合同中免除和限制其主要权利的条款向借款人提醒注意和特别说明。</span></p>

	</div>
</div>
